// TODO
// 样式总结：
// 整体：0. 左右分开 1. 左边图标（简笔画，鱼 logo）（点击跳转到主页，在主页时无效） 2. 右边图标形式的菜单栏（简笔画 logo）
// 颜色：透明 下拉时：磨砂状态：https://blog.spencerwoo.com/2020/08/cpython-implemented-python-time-complexity/

// TODO 
// 1. 实现左右布局
// 2. 实现透明与下拉模糊
// 3. 完成图标收集
// 4. 实现显示图标
// 5. 实现跳转
// 6. 实现个人logo的绘制与替换
// 7. 初步调整整个布局


ul.navigation-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}

a.logo {
    text-align: left;
}


li.logo {
    position:relative;
	left:120px;
}

li {
    float: right;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}