// TODO  1. 夜间模式跳转 以及 实现

div.header {
    position: -webkit-sticky;
    position: sticky;
    top: 0; // 用于设置固定到页面顶端
    padding-left: 15px; // 设置 左边 填充
    padding-right: 15px; // 设置 右边 填充
    backdrop-filter: blur(100px); // 设置半透明程度
    z-index: 1; // 设置页面优先级，防止被图片挡住

    // 导航栏
    ul.navigation-bar {
        list-style-type: none;
        margin: 0;
        padding: 0;
        height: 55px;
        overflow: hidden;
        background-color: transparent;

        // 左上角 个人 logo
        li.logo {
            float: left;

            a {
                padding-top: 0%;
            }
        }

        // 右上角 菜单 menu
        li.menu {
            float: right;
        }

        // 导航栏 链接
        a {
            display: block;
            color: black;
            padding: 14px 16px;
        }
    }

}